<script>
	$( document ).ready(function() {
	/*
		$("#create").click(function() {
			
			var json = "{[{'stage_num' : 'stage1', 'stage_data' : [{ 'name1' : 'fieldname1', 'value1' : fieldvalue1 },{ 'name2' : 'fieldname2', 'value2' : fieldvalue2 } ]},{'stage_num' : 'stage2', 'stage_data' : [{ 'name3' : 'fieldname3', 'value3' : 'fieldvalue3' },{ 'name4' : 'fieldname4', 'value4' : 'fieldvalue4' }]}]}";
		
			$.ajax({
				url: "simulation.json", 
				type: "POST",
				data: {mockdata : { "name" : "Sim Name", "workflow_id" : 1}},
				success: function(sim_id) {
					$('#alert_text').html('Simulation ' + sim_id + ' successfully created!');
					$('#alert_status').show();
				}
			});
		});
		*/
		$(".delete").click(function() {
			
			var sim_id= $(this).parent('td').parent('tr').find('.sim_id').data('id');
			
			$.ajax({
				beforeSend: function(req) {
					req.setRequestHeader("Accept", "application/json");
				},
				url: "simulation/" + sim_id, 
				type: "DELETE",
				success: function(sim_id) {
					$('#alert_text').html('Simulation ' + sim_id + ' successfully deleted!');
					$('#alert_status').show();
				}
			});
		});
		
		$(".update").click(function() {
			
			var sim_id= $(this).parent('td').parent('tr').find('.sim_id').data('id');
			
			$.ajax({
				beforeSend: function(req) {
					req.setRequestHeader("Accept", "application/json");
				},
				url: "simulation/" + sim_id, 
				type: "PUT",
				data: {mockdata : { "workflow_id" : 2, "mockdata" : "updated_data" }},
				success: function(sim_id) {
					$('#alert_text').html('Simulation ' + sim_id + ' has been updated!');
					$('#alert_status').show();
				}
			});
		});
	});
</script>

<h1>My Simulations</h1>

<hr>

<div id="alert_status" class="alert alert-success alert-dismissable" style="display:none">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<p id="alert_text"></p>
</div>

<button type="button" class="btn btn-info" id="create" data-toggle="modal" data-target="#createSimulation" style="float:right; margin-bottom:5px;">Create Simulation</button>

<table class="table table-striped" style="border:2px solid grey">
	<thead>
		  <tr style="background-color:#ddd">
			<th class="col-md-1">ID</th>
			<th class="col-md-4">Name</th>
			<th class="col-md-4">Workflow ID</th>
			<th class="col-md-3"></th>
		  </tr>
	</thead>
	<tbody>
		<% @mockdata.each do |data| %>
			  <tr>
				<td class="sim_id" data-id=<%= data.id %>><%= data.id %></td>
				<td><%= data.name %></td>
				<td><%= data.workflow_id %></td>
				<td style="text-align:center">
					<button class="run">Run</button>
					<button class="delete">Delete</button>
				</td>
			  </tr>
		<% end %>
	</tbody>
</table>

<div class="modal fade" id="createSimulation" role="dialog" aria-labelledby="createSimulationModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createSimulationModalLabel">Create Simulation</h4>
            </div>

            <div class="modal-body">
                <div class="form-container" style="width: 80%; margin: 0 auto;">
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="simName">Name</label>
                        </div>
                        <div class="formField">
                            <input id="simName" name="simName" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="formLabel">
                            <label for="workflow">Workflow</label>
                        </div>
                        <div class="formField">
							<select id="workflow" name="workflow" class="form-control">
							
							</select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-primary" onclick="dosomething()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>