<div class="jumbotron ">
    <h1>About MyBPM</h1>
    <p>MyBPM is brought to you by the class of ECE450. MyBPM tool helps you create, share, and manage business process powered by web service, instantly without limitation</p>
</div>
