<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Welcome to MyBPM!</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel panel-default">
					<i class="fa fa-bar-chart-o fa-fw">chart</i>
				</div>
			</div>
		</div>
	</div>
	
</div>