<div class="jumbotron ">
    <h1>MyBPM Tool!</h1>
    <p>MyBPM allows you to easily build a business process or workflow and share it with friends and coworkers. To find out more about this amazing new tool click on the button below.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Interactive Workflows</h2>
    <p>Create workflows with an easy to use interface. With it you can create new elements, drag and drop elements, and modify them on the fly. This gives you greater customisability and allows you to see what you're doing. </p>
  </div>
  <div class="col-md-4">
    <h2>Simulations</h2>
    <p>After you have created your workflow you can create mock data and run simulations. The simulations allow you to have a greater understanding on exactly what is going on in your workflow and catch issues sooner. </p>
 </div>
  <div class="col-md-4">
    <h2>Share workflows</h2>
    <p>Working with a friend? Not a problem! With this system you can share any workflows you have made with other users. You can choose what level of permission too, whether it's just view or you want them to be able to edit it as well!</p>
  </div>
</div>

