<h1>All Workflows</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Workflow ID</th>
      <th></th>
      <th></th>
    <tr>
  </thead>
  <tbody>
    <% if(@workflows.count == 0) %>
      <tr>
        <td colspan="3">You have no workflows</td>
      </tr>
    <% else %>
      <% @workflows.each do |workflow| %>
        <tr>
          <td><%= workflow.name %></td>
          <td><%= workflow.id %></td>
          <td><a href="<%= workflow_path(workflow.id) %>">View</a></td>
          <td>
            <%= link_to 'Delete', workflow, :method => :delete, :confirm => "Are you sure you want to delete #{workflow.name}?" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>