<%#= form_for :bpmn do |f| %>
  <%#= f.file_field :bpmn %>
<%# end %>
<%= stylesheet_link_tag 'workflow' %>
<%= javascript_include_tag 'ext_lib/xml2json.min.js' %>
<%= javascript_include_tag 'ext_lib/raphael.js' %>
<%= javascript_include_tag 'workflow/bpmn.js' %>
<script type="text/javascript">
  $(function(){
    $('#toolbox').hide();
    $('#instructions').hide();

    var client = new XMLHttpRequest();

    // GET JSON FILE
    client.open('GET', 'https://dl.dropboxusercontent.com/s/yyimks43gemdazq/jsonFile.json?dl=1&token_hash=AAEwKPu9isScXrMb-m9dVvUkYjxLiZTsM2DcEiIvPbXFnQ',false);
    client.send();
    var jsonText = client.responseText;
    
    // GET XPDL FILE
    client.open('GET', 'https://dl.dropboxusercontent.com/s/j1w6mr83r8ug0om/simpleWorkflow.xpdl?dl=1&token_hash=AAH7PHIpUBmIim-BUM6uC7WC8lAqG-36HYOqxJHkbm2WzA',false);
    client.send();
    var XPDLText = client.responseText;

    // GET BPMN FILE
    client.open('GET', 'https://dl.dropboxusercontent.com/s/8gmm8lss2j88i1b/testFile.bpmn?dl=1&token_hash=AAGfdvQIrgIaaLbx4cpJLbFEF9izHR-iuzOhMy5esvnV1w',false);
    client.send();
    var bpmnText = client.responseText;

    // CONVERT JSON TO XPDL (NOT WORKING)
    var x2js = new X2JS();
    var newXPDLText = x2js.json2xml_str(jsonText);
    
    // CREATE THE JAVASCRIPT OBJECT BASED ON THE JSON FILE
    var jsonObject = JSON.parse(jsonText);
    console.log(jsonObject);

    // FILL THE HTML ELEMENTS WITH TEXT
    $('#json').html(jsonText);
    $('#XPDL').html(XPDLText);
    $('#bpmn').html(bpmnText);
    $('#newXPDL').html(newXPDLText);

    $('#help').click(function() {
      $(this).toggleClass('active');
      $('#instructions').toggle();
    });

    var alreadyLoaded = false;

    // WHEN YOU CLICK THE IMPORT BUTTON
    $('#MyButton').click(function(){
      if(!alreadyLoaded){
          $('#toolbox').show();
          var bpmn = new net.BpmnJS(jsonObject,$('#canvas')[0]);
          bpmn.plot();

          // Toolbox listeners
          $('#toolbox > .tb-item').click(function(){
            var el = $(this);
            // After selecting toolbox item, the new element is drawn on the upper left corner of canvas.
             var x = 10, y= 10;
              switch (el.attr('id')) {
                case 'tb-startevent':
                  bpmn.moveElement(bpmn.paintEvent('xpdl stuff',x,y,30,30,'','#efefef','black'));
                  break;
                case 'tb-intermediateevent':
                  bpmn.moveElement(bpmn.paintEvent('xpdl stuff',x,y,30,30,'','#efefef','black'));
                  break;
                case 'tb-endevent':
                  bpmn.moveElement(bpmn.paintEvent('xpdl stuff',x,y,30,30,'','#efefef','black'));
                  break;
                case 'tb-route':
                  bpmn.moveElement(bpmn.paintRoute('xpdl stuff',x,y,40,40,'Text','#efefef','black'));
                  break;
                case 'tb-clearcanvas':
                  if (confirm('Are you sure you want to clear the workflow?')) {
                    bpmn.clear();
                  }
                  break;
                case 'tb-connect':
                  bpmn.connecting = true;
                  this.firstSelected = false;
                  alert('click on 2 objects to connect them');
                  break;
                default:
                  // Do nothing
              }

          });

          alreadyLoaded = true;
      }
    });
  });
</script>


<input type="button" value="Import" id="MyButton"></input>
<br>
<div id="workflow-info" class="row">
  <div class="col-md-11"><h3 id="workflow-name">My Workflow</h3></div>
  <div class="col-md-1"><button type="button" class="btn btn-default glyphicon glyphicon-question-sign" id="help"></button></div>
</div>
<div id="instructions" class="panel panel-info">
  <div class="panel-heading">
    Instructions:
  </div>
  <div class="panel-body">
    <ul>
      <li>Click on a toolbox item to add it to your workflow.</li>
      <li>Right-click on a workflow item for more options (e.g. remove item).</li>
    </ul>
  </div>
</div>
<div class="btn-group" id="toolbox">
    <button type="button" class="btn btn-default tb-item" id="tb-startevent"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-intermediateevent"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-endevent"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-task"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-transaction"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-subprocess"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-callactivity"></button>
    <!-- <button type="button" class="btn btn-default tb-item" id="tb-implementation"></button> -->
    <!-- <button type="button" class="btn btn-default tb-item" id="tb-route"></button> -->
    <!-- <button type="button" class="btn btn-default tb-item" id="tb-edge"></button> -->
    <button type="button" class="btn btn-default tb-item" id="tb-gateway"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-datastore"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-participant"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-lane"></button>
    <!-- <button type="button" class="btn btn-default tb-item" id="tb-boundaryevent"></button> -->
    <!-- <button type="button" class="btn btn-default tb-item" id="tb-receivetask"></button> -->
    <!-- <button type="button" class="btn btn-default tb-item" id="tb-sendtask"></button> -->
    <button type="button" class="btn btn-default tb-item" id="tb-sequenceflow"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-messageflow"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-association"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-annotation"></button>
    <button type="button" class="btn btn-default tb-item" id="tb-clearcanvas"></button>
</div>
<div id="canvas"></div>
<div id="editor-contextmenu" class="dropdown clearfix">
  <ul class="dropdown-menu" role="menu">
    <li><a id="remove-element">Remove</a></li>
    <!-- <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li> -->
  </ul>
</div>
<div id="bottom-toolbar">
  <button type="button" class="btn btn-primary" id="save">Save</button>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">As File...</a></li>
      <li><a href="#">As Image...</a></li>
    </ul>
  </div>
</div>
<%# This will get removed just keeping for testing %>
<br><br>
XPDL
<textarea id="XPDL" style="width:100%;height:200px;"></textarea>
json
<textarea id="json" style="width:100%;height:200px;"></textarea>
bpmn
<textarea id="bpmn" style="width:100%;height:200px;"></textarea>
newXPDL
<textarea id="newXPDL" style="width:100%;height:200px;"></textarea>
