<h1>Import a Workflow</h1>

<div id="file_input">
	<p>Select a workflow file to import.</p>
	<div class="well">
		<%= form_for :workflow, :url => {:action => "import"} do |f| %>
			<p>
				<%= f.file_field :workflow %>
			</p>
			<br />
			<%= f.submit %>
		<% end %>
	</div>
</div>

<br/><br/>
Dynamic model:
<div id="canvas"/> <br/>

<script type="text/javascript">
	$(document).ready(function(){
		$('#MyButton').click(function(){
			var bpmn = new net.BpmnJS($('#canvas')[0], []);
			bpmn.plot($('#bpmn')[0].value);
		});
	});
</script>

