.actions {
	text-align:center;
}

#add_data_err {
	display:none;
}

#addData {
	display:none;
}

#create {
	float:right; 
	margin-bottom:5px;
}

#create_simulation {
	display:none;
}

.delete {
	cursor:pointer; 
	margin-left:5px;
}

.form_container {
	width:80%; 
	margin:0 auto;
}

.heading {
	padding-left:0px;
}

.keyval_row {
	width:80%;
	margin:0 auto;
}

#sim_container {
	margin:5px;
}

#sim_results {
	border:1px solid #bbb;
	height:600px;
}

#sim_titles {
	margin:5px;
}

#simname_err {
	display:none; 
	color:red;
}

#static_canvas {
	border:1px solid #bbb;
	height:600px;
}