
div#canvas{
  width:100%;
  height:800px;
  background-color:white;
  border: 1px solid #bbb;
  margin-top: 1px;
}

#toolbox {
  border: 1px solid #bbb;
  background-color: #efefef;
  .tb-item {
    width: 60px;
    height: 60px;
    border: none;
    margin: 1px;
  }
  #tb-sequenceflow {
    background-image: url('tools/sequenceflow.png');
  }
  #tb-association {
    background-image: url('tools/association.png');
  }
  #tb-messageflow {
    background-image: url('tools/messageflow.png');
  }
  #tb-startevent {
    background-image: url('tools/startevent.png');
  }
  #tb-intermediateevent {
    background-image: url('tools/intermediateevent.png');
  }
  #tb-endevent {
    background-image: url('tools/endevent.png');
  }
  #tb-task {
    background-image: url('tools/task.png');
  }
  #tb-transaction {
    background-image: url('tools/transaction.png');
  }
  #tb-subprocess {
    background-image: url('tools/subprocess.png');
  }
  #tb-callactivity {
    background-image: url('tools/callactivity.png');
  }
  #tb-participant {
    background-image: url('tools/pool.png');
  }
  #tb-lane {
    background-image: url('tools/lane.png');
  }
  #tb-gateway {
    background-image: url('tools/gateway.png');
  }
  #tb-datastore {
    background-image: url('tools/datastore.png');
  }
  #tb-annotation {
    background-image: url('tools/annotation.png');
  }
  #tb-clearcanvas {
    background-image: url('tools/clearcanvas.png');
  }
}

#editor-contextmenu {
  position: absolute;
  display: none;
  ul {
    display: block;
    position: static;
    margin-bottom: 5px;
  }
}

#bottom-toolbar {
  margin-top: 10px;
  float: right;
}

.shape{
   fill:red;
}

.edge{
   stroke:black;
}

.edge-high{
   stroke:red;
   stroke-width:2px;
}

.participant{
   fill:lightgray;
}

.lane{
   fill:whitesmoke;
}

.startEvent, .boundaryEvent{
   fill:white;
}

.startEvent-high, .boundaryEvent-high{
   fill:white;
   stroke:red;
   stroke-width:2px; 
}

.endEvent{
   stroke-width:3; 
}
    
.endEvent-high{
   stroke:red;
   stroke-width:3; 
}

.serviceTask, .task, .userTask, .subProcess{
   fill:lightyellow;
}

.serviceTask-high, .task-high, .userTask-high, .subProcess-high{
   fill:lightyellow;
   stroke:red;
   stroke-width:2px; 
}

.sendTask, .receiveTask{
   fill:lightblue;
}

.sendTask-high, .receiveTask-high{
   fill:lightblue;
   stroke:red;
   stroke-width:2px; 
}

.textAnnotation{
   fill:white;
   stroke:white;
}

.dataStoreReference{
   fill:gray;
}

.exclusiveGateway{
   fill:white;
}