<% if user_signed_in? %>
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li class="sidebar-search">
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" placeholder="Search BPM">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search">Go</i>
							</button>
						</span>
					</div>
				</li>
				<li><%= link_to 'Dashboard', root_path %></li>
				<li><%= link_to 'Create New Workflow', new_workflow_path %></li>
				<li><%= link_to 'View Inventory', root_path %></li>
			</ul>
	    </div><!-- /.navbar-collapse -->
	</nav>
<% end %>